.ic {
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5em;
}

.pin-number {
  background-color: #cccccc;
  width: 1.5em;
}

.badge {
  border: 1px solid black;
  border-radius: 0.25em;
  padding: 0.125em 0.25em;
}

.divider {
  height: 8em;
}

.pin-name {
  background: moccasin;
  color: black;
}

td {
  text-align: center;
  position: relative;
}

td.empty:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  border-top: 1px solid black;
  background: black;
  width: 100%;
  transform: translateY(-50%);
}

table {
  border-spacing: 0.25em;
  border-collapse: separate;
}

body {
  margin: 2em;
  font-size: 16px;
}