* {
  box-sizing: border-box;
}

.ic {
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5em;
  border: 4px solid #555;
}

.pin-number {
  background-color: #cccccc;
  width: 1.5em;
}

.badge {
  border: 1px solid rgba(0.33, 0.33, 0.33, 0.2);
  border-radius: 0.25em;
  padding: 0.125em 0.25em;
}

div.dense {
    margin: -0.125em;
}

div.badge, label.badge {
  display: inline-block;
  margin: 0.125em 0.125em;
}

.pin-name {
  background: moccasin;
  color: black;
}

td {
  text-align: center;
  position: relative;
}

td.empty:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  border-top: 1px solid black;
  background: black;
  width: 100%;
  transform: translateY(-50%);
}

table {
  border-spacing: 0.25em;
  border-collapse: separate;
  margin: 0 auto;
}

body {
  margin: 2em;
}